header {
    text-align: center;
}

#modal {
    border: 4px solid #444;
}

#modal .lead {
    color: #555;
    font-size: 1.2em;
}

#timeline-nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    gap: 16px;
    justify-content: center;
    margin: 16px 0 4px;
}

#timeline-nav button {
    background-color: white;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
    z-index: 1000;
}

#timeline {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    /* allow space for nav at the bottom  */
    padding-bottom: 62px;
}

/* timeline node */
.n {
    margin-bottom: 8px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 16px;
    width: 450px;
    position: relative;
    /* Hide by default */
    display: none;
}


.n .date {
    color: #222;
    padding: 4px 8px;
    border-radius: 5px 5px 0 0;
}


.n .k {
    font-size: 1.5em;
    border-radius: 5px;
    padding: 5px;
    /* border: 2px solid #444; */
}

.n .detail {
    display: none;
}

.n .b {
    display: block;
    margin: 4px 0;
    clear: both;
    text-align: right;
}

.n .b * {
    margin: 0 2px;
    padding: 2px 4px;
    font-size: 0.8em;
}

/* Classes to animate `node` */
.n.init,
.n.added {
    display: block;
}

/* Initial animation */
/* .n.show.init { */
.n.init {
    animation: popup 0.3s ease-out forwards;
}

@keyframes popup {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

/* Effected by user action */
/* .n.show.added { */
.n.added {
    animation: slidein 0.3s ease-out forwards, highlight 7s ease-out forwards;
}

@keyframes highlight {
    0% {
        background-color: yellow;
    }

    100% {
        background-color: white;
    }
}

@keyframes slidein {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.n.remove {
    background-color: yellow;
    animation: fadeout 2.5s ease-out forwards;
}

@keyframes fadeout {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: scale(0.5);
    }
}